.app-content {
    overflow: hidden;
    height: 100%;
}

.cart-badge{
    font-size: 0.6rem;
    position: absolute;
    top: 30px;
    right: 5px;
    font-weight: bold;
    height: 18px;
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}